/* color pallette: 

--atomic-tangerine: #FEB184ff;
--salmon-pink: #FF919Eff;
--atomic-tangerine-2: #FF9D75ff;
--sky-blue: #74C0DCff;

$atomic-tangerine: rgba(254, 177, 132, 1);
$salmon-pink: rgba(255, 145, 158, 1);
$atomic-tangerine-2: rgba(255, 157, 117, 1);
$sky-blue: rgba(116, 192, 220, 1);

*/

* {
    box-sizing: border-box;
} 

body {
    margin: 0;
}

.site-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #1E202Bff;
    background-color: white;
    max-height: 100vh;
    background-color: #daf1fa;
}

.Header {
    width: 928px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid rgb(209, 209, 209);
    color: #ff9d75;
}

.ChatRoom {
    width: 928px;
    height: calc(100vh - 70px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: none;
}

.Submit {
    height: 100px;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-top: solid rgb(209, 209, 209);
}

.Form {
    height: 100%;
    width: 100%;
}

.Form > input {
    height: 100%;
    width: 85%;
    overflow: hidden;
    resize: none;
}

.Form > button {
    height: 100%;
    width: 15%;
}

.Feed {
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.Message-Sent {
    max-width: 80%;
    margin: 0px;
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
}

.Message-Sent > .Message-Text > .Message-Name {
    margin-left: auto;
}

.Message-Sent > .Message-Text {
    background-color: #FF919E; 
    box-shadow: 0px 0px 2px 0px #FF919E; 
}

.Message-Received > .Message-Text {
    background-color: #FEB184;
    box-shadow: 0px 0px 2px 0px #FEB184;
}

.Message-Received {
    max-width: 80%;
    margin: 0px;
    margin-right: auto;
    display: flex;
}

.Message-IMG {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.Message-IMG > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.Message-Text {
    max-width: 80%;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
}

.Message-Name{
    margin: 0px;
    font-size: 12px;
}

.Message-Content {
    margin: 0px;
    margin: 2px;
    font-size: 18px;
}