/* color pallette: 

--atomic-tangerine: #FEB184ff;
--salmon-pink: #FF919Eff;
--atomic-tangerine-2: #FF9D75ff;
--sky-blue: #74C0DCff;
-honeydew: #d4ead8

$atomic-tangerine: rgba(254, 177, 132, 1);
$salmon-pink: rgba(255, 145, 158, 1);
$atomic-tangerine-2: rgba(255, 157, 117, 1);
$sky-blue: rgba(116, 192, 220, 1);

*/

* {
    box-sizing: border-box;
} 

body {
    margin: 0;
}

.site-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #1E202Bff;
    background-color: white;
    max-height: 100vh;
    background: linear-gradient(165deg, #74C0DCff, rgb(75, 183, 223));
}

.Header {
    width: 928px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid rgb(209, 209, 209);
    color: #252525;
    backdrop-filter: blur(10px);
    opacity: 0.88;
}

.Header--Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header--Img {
    height: 60px;
    width: 60px;
    margin-left: 5px;
}

.Header--Img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Header--Logout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header--Logout > button {
    background-color: #ff9d75;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 6px;
}

.Header--Logout > button:hover {
    cursor: pointer;
    background-color: #FEB184ff;
}

.ChatRoom {
    width: 928px;
    height: calc(100vh - 70px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: none;
    backdrop-filter: blur(10px);
    opacity: 0.88;
}

.Submit {
    height: 100px;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-top: solid rgb(209, 209, 209);
    backdrop-filter: blur(10px);
    opacity: 0.88;
}

.Form {
    height: 100%;
    width: 100%;
    display: flex;
}

.Form > textarea {
    height: 100%;
    width: 85%;
    overflow: hidden;
    resize: none;
    font-size: 1.2rem;
    border-radius: 6px;
}

.Form > button {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9d75;
    border-radius: 6px;
    border: none;
}

.Form > button:disabled {
    background-color: rgb(233, 233, 233);

}

.Feed {
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Message-Sent {
    max-width: 80%;
    margin: 0px;
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
}

.Message-Sent > .Message-Text > .Message-Name {
    margin-left: auto;
}

.Message-Sent > .Message-Text {
    background-color: #FF919E; 
    box-shadow: 0px 0px 2px 0px #FF919E; 
}

.Message-Received > .Message-Text {
    background-color: #FEB184;
    box-shadow: 0px 0px 2px 0px #FEB184;
}

.Message-Received {
    max-width: 80%;
    margin: 0px;
    margin-right: auto;
    display: flex;
}

.Message-IMG {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.Message-IMG > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.Message-Text {
    max-width: 80%;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
}

.Message-Text > p {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.Message-Name{
    margin: 0px;
    font-size: 12px;
}

.Message-Content {
    margin: 0px;
    margin: 2px;
    font-size: 18px;
}

.Login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.Login-Container > h1 {
    margin: 10px;
    font-size: 2.2rem;
}

.sign-in {
    background-color: #74C0DCff;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 10px 16px;
    border-radius: 6px;
}

.sign-in:hover {
    cursor: pointer;
    background-color: rgb(75, 183, 223);
}

.Login-Img {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.Login-Img > Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) and (max-width: 927px) {
    .Header {
        width: 100vw;
    }

    .ChatRoom {
        width: 100vw;
    }

    .Submit {
        width: 100vw;
    }
}

@media (max-width: 767px) {
    .Header {
        width: 100vw;
    }

    .ChatRoom {
        width: 100vw;
    }

    .Submit {
        width: 100vw;
    }

    .Login-Img {
        width: 100vw;
        height: 100vw;
    }
}